.header
	.header_sosial.span6
		.h_sosial_button1 
		.h_sosial_button2
		.h_sosial_button3
		.h_sosial_button4
		.h_sosial_button5
		.h_sosial_button7 
		.h_sosial_button8
		.h_sosial_button9
	.header_adress.span6.mr0 
		.h_adress_gmail.span3
			.h_adress_gmail_img
			p fond_berezan@ukr.net
		.h_adress_tell.span3.mr0
			.h_adress_tell_img
			p (067) 793-99-04