.navi
	ul#navi_in
		li#l_main головна
		li#l_news новини
		li#key1 про нас
			ul#move1
				li#l_targets мета/логотип
				li#key11 наши проекти
					ul#move11
						li#l_yeah2015 2015
						li#l_yeah2014 2014
						li#l_yeah2013 2013
						li#l_yeah2012 2011-2012
						li#l_yeah2011 2009-2011
				li#l_gifts наши пропозиції
				li#l_goverment правління фонду
				li#key12 документи
					ul#move12
						li#l_guarantees установчі документи
						li#l_reports різні звіти
						li#l_published публікації
				li#key13 історія створення
					ul#move13
						li#l_berezan фг березань
						li#l_ukraine фг в україні
		li#key2 программи
			ul#move2
				li#l_shares конкурси
				li#l_grants гранти
		li#key3 галерея
			ul#move3
				li#l_foto фотогалерея 
				li#l_video відеогалерея
		li#l_partners партнери
		li#l_contacts контакти
		li#l_help потребують