.search
	.search_bread.span9
		p berezanford.com.ua
	.search_icon.span3.mr0
		form(name ="search" method = "post" action="/media/hydushko/087A4C3B7A4C2830/рабочий стол/work2/worked/query/1.txt")
			input(type="text" size="15" placeholder="Поиск" required)