// #####################header.jade################
.container{
	background-color: #ffa
	padding-top: 10px
	border-radius: 30px 
}
.header
	margin-top: 20px
	background-color: green
	height: 50px
.h_sosial_button1, .h_sosial_button2, 
.h_sosial_button3, .h_sosial_button4,
.h_sosial_button5, .h_sosial_button7,
.h_sosial_button8, .h_sosial_button9
	width: 25px
	height: 25px
	display: inline-block
	margin-left: 10px
	margin-top: 10px
	border-radius: 20px
.h_sosial_button1:hover, .h_sosial_button2:hover, 
.h_sosial_button3:hover, .h_sosial_button4:hover,
.h_sosial_button5:hover, .h_sosial_button7:hover,
.h_sosial_button8:hover, .h_sosial_button9:hover
	cursor: pointer
	background-color: blue
.h_sosial_button1
	background: black url('#') center no-repeat
.h_sosial_button2
	background: black url('#') center no-repeat
.h_sosial_button3
	background: black url('#') center no-repeat
.h_sosial_button4
	background: black url('#') center no-repeat
.h_sosial_button5
	background: black url('#') center no-repeat
.h_sosial_button6
	background: black url('#') center no-repeat
.h_sosial_button7
	background: black url('#') center no-repeat
.h_sosial_button8
	background: black url('#') center no-repeat
.h_sosial_button9
	background: black url('#') center no-repeat
.h_adress_gmail
	border-right:3px solid black
.h_adress_gmail, .h_adress_tell
	margin-top:12px
.h_adress_gmail:hover
	cursor:pointer
.h_adress_gmail_img, .h_adress_tell_img
	width: 25px
	height: 25px
	display: inline-block
.h_adress_gmail_img
	background: black url('#') center no-repeat
	float: right
	margin-right:20px
.h_adress_tell_img
	background: black url('#') center no-repeat
	float:left
.h_adress_tell_img
	margin-right: 20px
.h_adress_gmail p, .h_adress_tell p
	margin-top: 3px