@require 'header'
@require 'logo'
@require 'search'
@require 'navi'
@require 'navi/main'
@require 'navi/news'
@require 'navi/about'
@require 'navi/querySearch'
@require 'navi/about/documents/guarantees'
@require 'navi/about/documents/published'
@require 'navi/about/documents/reports'
@require 'navi/about/gifts'
@require 'navi/about/goverment'
@require 'navi/about/history/berezan'
@require 'navi/about/history/ukraine'
@require 'navi/about/projects/2011'
@require 'navi/about/projects/2012'
@require 'navi/about/projects/2013'
@require 'navi/about/projects/2014'
@require 'navi/about/projects/2015'
@require 'navi/about/targets'
@require 'navi/programs/shares'
@require 'navi/programs/grants'
@require 'navi/galery/foto'
@require 'navi/galery/video'
@require 'navi/partners'
@require 'navi/contacts'
@require 'navi/help'
@require 'footer'